<div class="row">
    <div class="col-md-12">
        <h1>Awesome Coffee Machine<br /><small>Forgot Password &raquo; Set new</small></h1>
        <p ng-show="!hideForm">Set a new password for <strong>{{username}}</strong>.</p>
        
        <div class="alert alert-danger" role="alert" id="errorMessage" ng-show="errorMessage && !isLoading">Error: {{errorMessage}}</div>
        <div class="alert alert-success" role="alert" id="successMessage" ng-show="success && !isLoading">Success: {{success}}</div>
        
        <form class="login" ng-submit="setNewPassword()" ng-show="!success && !hideForm">
            
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputPasswordRepeat" class="sr-only">Password Repeat</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                    <input type="password" id="inputPasswordRepeat" class="form-control" placeholder="Password Repeat" ng-model="passwordRepeat" required>
                </div>
            </div>
            
            <input type="submit" class="btn btn-primary" value="Set new password">
        
        </form>
    </div>
</div>
