<div class="row">
    <div class="col-md-12">
        <h1>Awesome Coffee Machine<br /><small>Forgot Password</small></h1>
        <p>Please enter your username to retrieve your password. It might take a while for this request is generated and/or the e-mail is send, so no hurry!</p>
        
        <div class="alert alert-danger" role="alert" id="errorMessage" ng-show="errorMessage && !isLoading">Error: {{errorMessage}}</div>
        <div class="alert alert-success" role="alert" id="successMessage" ng-show="success && !isLoading">Success: {{success}}</div>
        
        <form class="login" ng-submit="requestPasswordReset()" ng-show="!success">
            
            <div class="form-group">
                <label for="inputUser" class="sr-only">Username</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                    <input type="user" id="inputUser" class="form-control" placeholder="Username" ng-model="username">
                </div>
            </div>
            
            
            <input type="submit" class="btn btn-primary" value="Request">
        
        </form>
    </div>
</div>
