<div class="row">
    <div class="col-md-12">
        <h1>Awesome Coffee Machine</h1>
        <p>Please login to see and modify the status of the Moccamaster of Softwerk.</p>
        
        <div class="loader" ng-show="isLoading"></div>
                
        <div class="alert alert-danger" role="alert" id="errorMessage" ng-show="errorMessage && !isLoading">Error: {{errorMessage}}</div>
        <form class="login" ng-submit="login()" ng-show="!isLoading">
            
            <div class="form-group">
                <label for="inputUser" class="sr-only">Username</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                    <input type="user" id="inputUser" class="form-control" placeholder="Username" ng-model="username" required autofocus>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>
                </div>
            </div>
            
            <input type="submit" class="btn btn-primary" value="Sign in"> <a href="#/forgotpassword" style="float: right">Forgot password?</a>
        
        </form>
    </div>
</div>
